body{
    background-color: #086375;
  
}
.nav-link{
      color:white;
      font-family:fantasy;
}
.row{
   
    animation-duration: 2S;
    animation-name: colonne;
}
@keyframes colonne{
    25%{margin-top:21px;}
    25%{margin-top:21px} 
    25%{margin-bottom:21px}  
    100%{margin-bottom:21px}
    
    
}
.toto{
    background-image: url("SPORT.jpeg");
}
