body{
     background-image: radial-gradient(rgb(221, 201, 201) 1px ,transparent 0);
    background-size: 42px 42px;
    background-position: 0 0 ,21px 21px;
    animation: infinite color 5s alternate;
    font-family:'Allerta';
}

@keyframes color{
    
  0%{background-color: #06424e;}
  25%{background-color: #086375;}  
  50%{background-color: #0a6e82;}
  100%{background-color: #108fa9;}
  to{
    background-position: 21px 21px, 0 0;
}
 }   

img{
    width: 400px;
    height: 300px;
   display: block;
  margin-left: auto;
  margin-right: auto;
  animation-duration:3s;
  animation-name: slidein;
 }
 @keyframes slidein {
    from{
        margin-bottom: 100%;
        width: 0%;
    }
    to {
        margin-bottom: 0%;
        width: 28%;
    }
 }
 
p{
    color:blanchedalmond;
    text-align: center;
    font-size: 400%;
    animation-duration: 5s;
    animation-name:phrase;
}
 @keyframes phrase {
      from{
                margin-left :100%;
                
                width:200%;
            }
        }
 
 

button{
    width: 150px;
    height: 100px;
    border-radius: 30%;
   display: block;
  cursor: pointer;
  color:rgb(240, 242, 244);
  background-color:(34, 91, 224);
  box-shadow: 0 9px #403f3f;
  
}

