body{
    background-color: #086375;
   
}

.divi{
    margin-top: 20px;
    background-color: rgb(214, 207, 199);
  padding:50px 470px;
 border-radius: 15px;
 
}
.conex{
    margin-left: 70px;
    margin-right: 70px;
}
h4{
    font-family: "Allerta";
    text-shadow: 3px 3px 3px #403f3f;
    text-align: center;
    font-size: 300%;
}

label{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(32, 14, 14);
}
#submit{
    width: 100px;
    height: 70px;
    display:block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30%;
    background-color: rgb(34, 91, 224);
    color: aliceblue;
}
#submit:active{
    background-color: #3e8e41;
    box-shadow: 0 5px #403f3f;
        transform: translateY(4px);
}

#mail{
    border-radius: 5px;
    display:fixed;
    right: 15px;
}
#pass{
    border-radius:5px;
    display: fixed;
    right: 15px;
}