body{
    background-color: #086375;
    font-family:'Allerta';
    margin: 100px auto;
}
label{
    font-family:'Allerta';
}
h4{
    color: blanchedalmond;
    font-size: xx-large;
}

h3{
    font-family: fantasy;
    color: blanchedalmond;
}

