body{
    animation-duration: 10s;
    animation-name: color;
}
@keyframes color{
    
 0% {background-color: rgb(106, 0, 255)};
  25%{background-color: rgb(7, 7, 234);}  
  50%{background-color: rgb(7, 194, 166);} 
  100%{background-color: rgb(10, 223, 102);} 
 }   
 .rouge{
    padding-bottom: 5px;
 }