body{
    animation-duration: 10s;
    animation-name: color;
}
@keyframes color{
    
 0% {background-color: rgb(106, 0, 255)};
  25%{background-color: rgb(7, 7, 234);}  
  50%{background-color: rgb(7, 194, 166);} 
  100%{background-color: rgb(10, 223, 102);} 
 } 
 
 img{
    width: 400px;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
 }

h4{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
label{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#submit{
    width: 100px;
    height: 70px;
    display:block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30%;
    background-color: rgb(34, 91, 224);
    color: aliceblue;
}
#submit:active{
    background-color: #3e8e41;
    box-shadow: 0 5px #403f3f;
        transform: translateY(4px);
}

