#Countdown{
    position: sticky;
    margin-top: 5%;
    margin-left: 90%;
    padding-top: 10px;
    border: solid rgb(15, 80, 211) 1px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}
.testquizz{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}



