body{
     background-image: radial-gradient(rgb(221, 201, 201) 1px ,transparent 0),
   radial-gradient(rgb(255, 255, 0) 1px, transparent 0);
    background-size: 42px 42px;
    background-position: 0 0 ,21px 21px;
    animation: infinite color 5s alternate;
}

@keyframes color{
    
 0% {background-color: rgb(106, 0, 255)};
  25%{background-color: rgb(7, 7, 234);}  
  50%{background-color: rgb(7, 194, 166);} 
  100%{background-color: rgb(10, 223, 102);} 
  to{
    background-position: 21px 21px, 0 0;
}
 }   




img{
    width: 400px;
    height: 300px;
   display: block;
  margin-left: auto;
  margin-right: auto;
  animation-duration:3s;
  animation-name: slidein;
 }
 @keyframes slidein {
    from{
        margin-bottom: 100%;
        width: 300%;
    }
    to {
        margin-bottom: 0%;
        width: 100%;
    }
 }
 
p{
    font-family:'Sofia',sans-serif;
    color:rgb(220, 249, 0);
    text-align: center;
    font-size: xx-large;
    animation-duration: 5s;
    animation-name:phrase;
}
 @keyframes phrase {
      from{
                margin-left :100%;
                
                width:200%;
            }
        }
 
 

button{
    width: 100px;
    height: 70px;
    border-radius: 30%;
   display: block;
  margin-left:auto;
  margin-right: auto;
  cursor: pointer;
  color:rgb(240, 242, 244);
  background-color: rgb(34, 91, 224);
  box-shadow: 0 9px #403f3f;
  
}button:active{
        background-color: #3e8e41;
        box-shadow: 0 5px #403f3f;
        transform: translateY(4px);
}

